<a href="https://colab.research.google.com/github/JoshuaMisir2038/CS-5787-Deep-Learning/blob/master/Gradient_Descent_From_Scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df = pd.read_csv("Advertising.csv")

In [ ]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [ ]:
X = df[["TV", 'radio', 'newspaper']]

In [ ]:
Y = df['sales']
Y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [ ]:
Y = np.array((Y-Y.mean())/Y.std())

In [ ]:
X = X.apply(lambda rec: (rec-rec.mean())/rec.std(), axis = 0)

In [ ]:
X

           TV     radio  newspaper
0    0.967425  0.979066   1.774493
1   -1.194379  1.080097   0.667903
2   -1.512360  1.524637   1.779084
3    0.051919  1.214806   1.283185
4    0.393196 -0.839507   1.278593
..        ...       ...        ...
195 -1.267759 -1.317724  -0.769287
196 -0.615491 -1.236899  -1.031011
197  0.348934 -0.940539  -1.109069
198  1.590574  1.261955   1.636743
199  0.990720 -0.987687  -1.003461

[200 rows x 3 columns]

In [ ]:
import random

In [ ]:
def initialize(dim):
  b = random.random()
  theta = np.random.rand(dim)
  return b, theta

In [ ]:
b, theta = initialize(3)
print('Bias: ', b, "Weights: ", theta)

Bias:  0.423266564685187 Weights:  [0.38376066 0.29876528 0.34288707]

In [ ]:
def predict_Y(b, theta, X):
  return b + np.dot(X, theta)

In [ ]:
  Y_hat = predict_Y(b, theta, X)
  Y_hat[0:10]

array([ 1.69548743,  0.51662168,  0.90841603,  1.24612074,  0.76175713,
        1.02053336,  0.10385489, -0.06886404, -1.08675048,  0.09599075])

In [ ]:
import math

def get_cost(Y,Y_hat):
  Y_resd = Y - Y_hat
  return np.sum(np.dot(Y_resd.T, Y_resd)) / len(Y-Y_resd)

In [ ]:
Y_hat = predict_Y(b, theta, X)
get_cost(Y, Y_hat)

0.5302755741631517

In [ ]:
def update_theta(x, y, y_hat, b_0, theta_o, learning_rate):
  db = (np.sum(y_hat-y)*2) / len(y)
  dw = (np.dot((y_hat - y), x)*2) / len(y)
  b_1 = b_0 - learning_rate * dw
  theta_1 = theta_o - learning_rate* dw
  return b_1, theta_1